<div class="container text-center">
  <h1 class="titulo">Precio</h1>

  <p class="parrafo">Adquiere uno de nuestros planes en promoción</p>

  <div class="row text-center">
    <div class="col-md-4">
      <app-card
        nombre="Libre"
        precio="$0 / mes"
        descripcion="10 usuarios incluidos 2GB de almacenamiento Soporte de correo electronico Acceso al centro de ayuda"
        textButton="Resgistrate gratis"
      >
      </app-card>
    </div>
    <div class="col-md-4">
      <app-card
        nombre="Pro"
        precio="$15 / mes"
        descripcion="20 usuarios incluidos 10GB de almacenamiento Soporte Prioritario por correo electronico Acceso al centro de ayuda"
        textButton="Empezar"
      >
      </app-card>
    </div>
    <div class="col-md-4">
      <app-card
        nombre="Empresa"
        precio="$29 / mes"
        descripcion="30 usuarios incluidos 15GB de almacenamiento Soporte telefonico y por correo electronico Acceso al centro de ayuda"
        textButton="Contáctenos"
      >
      </app-card>
    </div>
  </div>
</div>
